footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 6vw;
	gap: 3vw;
}
footer .linked-in {
	background: url('../assets/icons/linkedin.svg');
	width: 24px;
	height: 24px;
}
footer .linked-in:hover {
	box-shadow: 0px 0px 10px var(--lightest);
}

footer a {
	font-size: 10px;
	color: var(--lightest);
	text-decoration: none;
}
footer a:hover {
	text-shadow: 0px 0px 10px var(--lightest);
}