.portfolio-comp {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3vw;
	margin: 3vw 6vw;
}
.portfolio-comp a {
	background: var(--transblack);
	padding: 3vw;
	border: 1vw solid black;
	color: var(--lightest);
	text-align: center;
	text-decoration: none;
}
.portfolio-comp a:hover {
	background: rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 600px) {
	.portfolio-comp {
		grid-template-columns: 1fr;
	}
}