:root {
	--lightest: rgb(235, 235, 235);
	--middle: rgb(128, 128, 128);
	--darker: rgb(64, 64, 64);
	--darkest: rgb(20, 20, 20);
	--transblack: rgba(0, 0, 0, 0.6);
}
@font-face {
	font-family: 'header-font';
	src: url('./assets/fonts/Tangerine/Tangerine-Regular.ttf');
}
@font-face {
	font-family: 'main-font';
	src: url('./assets/fonts/Play/Play-Regular.ttf');
}
html {
	min-width: 270px;
	background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)
	), url('./assets/images/ocean-infinite.jpg');
	background-size: 100% auto;
	background-repeat: repeat-y;
	color: var(--lightest);
	font-family: 'main-font';
}
body {
  margin: 0;
	overflow-y: scroll;
}
.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.tone-in {
	animation: expand 2s;
	overflow: hidden;
}
.info-table {
	display: grid;
	grid-template-columns: auto auto auto;
	background: var(--transblack);
	padding: 3vw;
	border: 1vw solid black;
	margin: 3vw 6vw;
	gap: 3vw;
	font-size: 14px;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: var(--darkest);
}
::-webkit-scrollbar-thumb {
  background: var(--darker);
  width: 50px;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--middle);
}
@keyframes expand {
	0% {max-height: 0vh;}
	100% {max-height: 100vh;}
}
@media only screen and (max-width: 600px) {
	html {
		background-size: auto;
	}
	.info-table {
		grid-template-columns: auto;
		grid-gap: 0vw;
	}
	.table-date {
		margin-bottom: 16px;
	}
}